.resume-container {
  display: flex;
  gap: 16px; 
  padding: 16px;
  overflow-x: auto;
}

.left-column {
  width: 500px;
  background-color: #0a2434;
  padding: 16px;
  border-radius: 8px;
  text-align: left;
  font-size: 0.7rem; 
  flex-shrink: 0;
  color: #ffffff;
}

.right-column {
  width: 800px;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  font-size: 0.7rem;
  flex-shrink: 0;
}
